[Tool]ReservarSlotPetFlow.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: '[Tool]ReservarSlotPetFlow'
kind: app
version: 0.1.1
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 957e93dc-04ad-42cb-844f-3f5c48e00a3d
    name: apiKey
    value: ''
    value_type: secret
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1729815362377-source-1729815885998-target
      source: '1729815362377'
      sourceHandle: source
      target: '1729815885998'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1729815885998-source-1729816177719-target
      source: '1729815885998'
      sourceHandle: source
      target: '1729816177719'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables:
        - label: eventTypeId
          max_length: 48
          options: []
          required: true
          type: number
          variable: eventTypeId
        - label: start
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: start
        - label: name
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: name
        - label: email
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: email
      height: 168
      id: '1729815362377'
      position:
        x: 86
        y: 151
      positionAbsolute:
        x: 86
        y: 151
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: "{\n  \"eventTypeId\": {{#1729815362377.eventTypeId#}},\n  \"start\"\
            : \"{{#1729815362377.start#}}\",\n  \"responses\": {\n    \"name\": \"\
            {{#1729815362377.name#}}\",\n    \"email\": \"{{#1729815362377.email#}}\"\
            ,\n    \"guests\": [],\n    \"location\": {\n      \"value\": \"inPerson\"\
            ,\n      \"optionValue\": \"\"\n    }\n  },\n  \"metadata\": {},\n  \"\
            timeZone\": \"America/Cuiaba\",\n  \"language\": \"pt\",\n  \"status\"\
            : \"PENDING\"\n}"
          type: json
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        selected: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Requisição HTTP
        type: http-request
        url: https://api.cal.com/v1/bookings?apiKey={{#env.apiKey#}}
        variables: []
      height: 108
      id: '1729815885998'
      position:
        x: 390
        y: 151
      positionAbsolute:
        x: 390
        y: 151
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1729815885998'
          - body
          variable: result
        selected: false
        title: Fim
        type: end
      height: 90
      id: '1729816177719'
      position:
        x: 694
        y: 151
      positionAbsolute:
        x: 694
        y: 151
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 125.86775918463161
      y: 69.33460201527788
      zoom: 1.0000000000000002
