[Tool] ListarSlotsVaziosPetFlow.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: '[Tool] ListarSlotsVaziosPetFlow'
kind: app
version: 0.1.1
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 02c7346a-ac61-4512-9c3f-75b2bc961d99
    name: apiKey
    value: ''
    value_type: secret
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1729815297087-source-1729815410487-target
      source: '1729815297087'
      sourceHandle: source
      target: '1729815410487'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1729815410487-source-1729815608672-target
      source: '1729815410487'
      sourceHandle: source
      target: '1729815608672'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables:
        - label: eventTypeId
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: eventTypeId
        - label: startTime
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: startTime
        - label: endTime
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: endTime
        - label: timeZone
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: timeZone
      height: 168
      id: '1729815297087'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: ''
        headers: ''
        method: get
        params: 'apiKey:{{#env.apiKey#}}

          eventTypeId:{{#1729815297087.eventTypeId#}}

          startTime:{{#1729815297087.startTime#}}

          endTime:{{#1729815297087.endTime#}}

          timeZone:{{#1729815297087.timeZone#}}'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Requisição HTTP
        type: http-request
        url: https://api.cal.com/v1/slots
        variables: []
      height: 90
      id: '1729815410487'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1729815410487'
          - body
          variable: result
        selected: false
        title: Fim
        type: end
      height: 90
      id: '1729815608672'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 233.13479056328862
      y: -1.319658624450085
      zoom: 0.7578582832551992
