ConsultarSlotsCal.yml
app:
  description: Consulta os slots de horarios do evento.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: ConsultarSlotsCal
kind: app
version: 0.1.1
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: a3787407-5019-4652-9243-05ea96b0ca66
    name: url
    value: https://api.cal.com/v1/
    value_type: string
  - description: ''
    id: da3ea99f-4cec-4f33-8eba-d6fd34f88521
    name: apiKey
    value: ''
    value_type: secret
  - description: ''
    id: 76292601-603f-43d7-95dc-18dad5df4b06
    name: eventTypeId
    value: 1189330
    value_type: number
  - description: ''
    id: 02c457a1-15a9-45fc-a901-9495cd3077f0
    name: timeZone
    value: America/Cuiaba
    value_type: string
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1728508280525-source-1728508442397-target
      source: '1728508280525'
      sourceHandle: source
      target: '1728508442397'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1728508442397-source-1728508685234-target
      source: '1728508442397'
      sourceHandle: source
      target: '1728508685234'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Iniciar
        type: start
        variables:
        - label: startTime
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: startTime
        - label: endTime
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: endTime
      height: 116
      id: '1728508280525'
      position:
        x: 25
        y: 131
      positionAbsolute:
        x: 25
        y: 131
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: ''
        headers: ''
        method: get
        params: 'startTime:{{#1728508280525.startTime#}}

          endTime:{{#1728508280525.endTime#}}

          eventTypeId:{{#env.eventTypeId#}}'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Buscar Slots (Horários)
        type: http-request
        url: '{{#env.url#}}/slots?apiKey={{#env.apiKey#}}&timeZone={{#env.timeZone#}}'
        variables: []
      height: 128
      id: '1728508442397'
      position:
        x: 329.3195079107728
        y: 131
      positionAbsolute:
        x: 329.3195079107728
        y: 131
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1728508442397'
          - body
          variable: body
        selected: false
        title: Fim
        type: end
      height: 90
      id: '1728508685234'
      position:
        x: 613.8558863980951
        y: 131
      positionAbsolute:
        x: 613.8558863980951
        y: 131
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 110.32552121110689
      y: 154.11694214708498
      zoom: 0.757858283255199
